:root{
    font-size:1em;
}
body{
	background-size:100%;
	background-repeat:no-repeat;
	background-color: #F8F8FF;
	background-image:url("image/PNG/background-for-index.png");
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	word-wrap: break-word;
}
h4{ 
    
	text-indent: 0.5%;
    font-size: 1.5rem;
}
div{
    font-size: 1rem;
}
p{
    font-size: 1rem;
}
.mainbox{ 
	margin: auto;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	width: 100% 100%;
	background-color: rgba(248,248,255,0.3);
	flex-direction: column;
	-webkit-flex-direction:column;
}		
.box{
	margin: 5px;
	display: -webkit-flex;
	display: -flex;
	flex-direction: column;
	-webkit-flex-direction:column;
	width: 90%;
	background-color: rgba(164,211,238,0.25);
	background-image: linear-gradient(to bottom right,rgba(173,216,230,0.25),rgba(127,255,212,0.25));
	border-radius: 10px;
	box-shadow: 3px 3px 5px rgba(1,1,1,0.1);
}
.subbox{
	margin:auto;
	display: -webkit-flex;
	display: -flex;
	flex-direction: column;
	-webkit-flex-direction:column;
	width: 98%;
}
.player{
	width: 25%;
	height: 85px;
}
a:link{
	color: rgba(67,205,128,1);
	text-decoration: none;
	text-shadow: 1px 1px 3px rgba(1,1,1,0.3);
    font-size: 1rem;
}
a:visited{
	color:rgba(102,139,139,1);
	text-decoration: none;
    font-size: 1rem;
}
a:hover{
	color:rgba(84,255,159,1);
	transition: 0.3s;
	text-decoration: none;
	text-shadow: 2px 2px 5px rgba(3,3,3,0.5);
    font-size: 1rem;
}
a:active{
	color:rgba(105,139,155,1);
	transition: 0.1s;
	text-decoration: none;
	text-shadow:5px 5px 7px rgba(3,3,3,0.75);
    font-size: 1rem;
}