body{
	background-size:100%;
	background-repeat:no-repeat;
	background-color: 	#F8F8FF;
	background-image:url("image/PNG/background-for-index.png");
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	word-wrap: break-word;
}
h4{ 
	text-indent: 0.5%;
}
.mainbox{ 
	margin: auto;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	width: 100% 100%;
	background-color: rgba(248,248,255,0.3);
	flex-direction: column;
	-webkit-flex-direction:column;
}		
.box{
	margin: 5px;
	display: -webkit-flex;
	display: -flex;
	flex-direction: column;
	-webkit-flex-direction:column;
	width: 90%;
	background-color: rgba(164,211,238,0.25);
	background-image: linear-gradient(to bottom right,rgba(173,216,230,0.25),rgba(127,255,212,0.25));
	border-radius: 10px;
	box-shadow: 3em 3em 5em rgba(1,1,1,0.1);
}
.subbox{
	margin:auto;
	display: -webkit-flex;
	display: -flex;
	flex-direction: column;
	-webkit-flex-direction:column;
	width: 98%;
}
.player{
	width: 25%;
	height: 85em;
}
a:link{
	color: rgba(67,205,128,1);
	text-decoration: none;
	text-shadow: 1em 1em 3em rgba(1,1,1,0.3);
}
a:visited{
	color:rgba(102,139,139,1);
	text-decoration: none;
}
a:hover{
	color:rgba(84,255,159,1);
	transition: 0.3s;
	text-decoration: none;
	text-shadow: 2em 2em 5em rgba(3,3,3,0.5);
}
a:active{
	color:rgba(105,139,155,1);
	transition: 0.1s;
	text-decoration: none;
	text-shadow:5em 5em 7em rgba(3,3,3,0.75);
}